* {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  scroll-behavior: smooth;
}

.up-btn-container {
  position: fixed;
  z-index: 10000000000;
  bottom: 0;
  right: 0;
  margin-right: 3vh;
  margin-bottom: 3vh;
  border-radius: 100;
  display: none;
  opacity: 0.89;
  transition: 0.2s;
}

.up-btn-container.active {
  display: block;
}

.up-btn-container:hover {
  transform: scale(1.2);
}

.up-btn {
  border: none;
  background-color: transparent;
}

.up-btn,
.up-btn-container.active {
  background-color: none;
}

.up-btn a img {
  width: 10vh;
  height: 10vh;
}

.navbar {
  width: 100%;
  z-index: 10000000000000000;
  transition: 0.2s;
}

.navbar.pre {
  top: -10%;
  position: fixed;
}

.navbar.pre.scrolled {
  top: 0;
  opacity: 0.97;
}

.navbar.pre.scrolled .nav-wrapper {
  /* background-image: linear-gradient(to top, pink, rgb(208, 97, 119)); */
  background-color: rgba(255, 192, 203, 0.756);
  transition: 0.5s;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, pink, rgb(235, 161, 173));
  height: 10vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  color: white;
  text-shadow: 2px 1px 2px gray;
  transition: 0.5s;
}

.nav-leftside {
  display: flex;
  gap: 2vh;
  padding-inline-start: 2vh;
  align-items: center;
  transition: 0.2s;
}

.nav-leftside:hover {
  transform: scale(1.3);
}

.nav-midside {
  display: flex;
}

.nav-midside a {
  margin: 0rem 0.5rem;
  transition: 0.2s;
  padding: 0.2rem 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-midside a:hover {
  background-color: rgb(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.nav-midsidde:hover {
  border-bottom: 2px solid black;
}

.nav-rightside {
  display: flex;
  gap: 2vh;
  padding-right: 4vh;
  align-items: center;
}

.nav-icon {
  width: 4vh;
  height: 4vh;
  cursor: pointer;
  transition: 0.2s;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.nav-hmb {
  display: none;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
}

/* Hover effect to show input */
.search-container:hover .search-input {
  width: 12rem;
  opacity: 1;
}

.nav-logo {
  width: 8rem;
  object-position: center;
}

/* MAIN */

.main-wrapper {
  position: relative;
  width: 100%;
  height: 105vh;
}

.main-background {
  position: absolute;
  width: 100%;
  height: 105vh;
  background-image: url("./assets/img/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-moto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-moto span {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 6rem;
  color: white;
  /* text-shadow: 0px 2px 3px #000000; */
  margin-bottom: 20vh;
}

.main-moto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
  color: white;
  /* text-shadow: 0px 2px 3px #000000; */
}

.main-fadding-up {
  position: absolute;
  color: blanchedalmond;
  width: 100%;
  background-color: blanchedalmond;
}

.main-buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 10vh;
}

.main-button {
  background-color: rgb(251, 174, 238);
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  width: 10vw;
  height: 6vh;
  border-radius: 10px;

  z-index: 0;
  transition: 0.2s;
}

.main-button a,
.main-button a:active {
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-button:hover {
  transform: scale(1.1);
  background-color: rgb(68, 40, 63);
}

.main-to-section-up {
  position: absolute;
  width: 100%;
  height: 2rem;
  color: pink;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), pink);
  color: transparent;
}

.main-to-section-bottom {
  position: absolute;
  width: 100%;
  height: 10vh;
  color: transparent;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white);
}

.cake-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  padding-top: 15vh;
}

.cake-icon {
  width: 7vh;
}

.display-wrapper {
  position: static;
  margin-bottom: 8vh;
  color: rgb(94, 94, 94);
}

.display-title {
  font-family: "Vollkorn", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  z-index: 10000000000;
}

.display-wrapper.recommend {
  margin-bottom: 15vh;
}

.display-bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-bg {
  background-color: pink;
  width: 60vw;
  height: 60vh;
  border-radius: 100%;
  filter: blur(90px);
}

.left-bg {
  /* background-color: rgb(244, 149, 244); */
  background-image: linear-gradient(rgb(234, 119, 234), rgb(241, 241, 104));
  width: 50vw;
  height: 60vh;
  border-radius: 100%;
  filter: blur(90px);
  margin-left: 20rem;
}

.mid-bg2 {
  background-color: rgb(148, 177, 230);
  width: 60vw;
  height: 60vh;
  border-radius: 100%;
  filter: blur(90px);
}

.left-bg2 {
  /* background-color: rgb(244, 149, 244); */
  background-image: linear-gradient(rgb(119, 234, 156), rgb(241, 170, 104));
  width: 50vw;
  height: 60vh;
  border-radius: 100%;
  filter: blur(90px);
  margin-left: 20rem;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
  /* background-color: blue; */
  width: 19vw;
  height: 55vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* border: 1px solid;
  border-color: gray; */
  border-radius: 15px;
  padding: 1vh;
  color: black;
  /* box-shadow: 5px 5px 20px pink; */
  z-index: 1000000000;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.image-container {
  height: 40vh;
}

.card-image {
  position: absolute;
  width: 19vw;
  height: 40vh;
  border-radius: 15px;
  object-fit: cover;
}

.card-image-hover {
  position: absolute;
  width: 40vh;
  height: 40vh;
  border-radius: 15px;
  opacity: 0;
  transition: 0.2s;
  object-fit: cover;
}

.card-image-hover:hover {
  opacity: 1;
  transform: scale(1.02);
}

.card-title {
  margin-left: 1.5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.card-liner {
  margin-bottom: 1.2vh;
}

.card-price {
  margin-left: 1vh;
}

.seemore-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.seemore-button {
  position: relative;
  background-color: rgb(251, 174, 238);
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  width: 20vh;
  height: 6vh;
  border-radius: 10px;
  color: white;
  z-index: 0;
  transition: 0.2s;
  cursor: pointer;
}

.seemore-button:hover {
  transform: scale(1.1);

  background-color: rgb(68, 40, 63);
}

.seemore-button a,
.seemore-button a:active {
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-to-about {
  background-image: linear-gradient(to bottom, white, rgb(255, 192, 203, 0.03));
  height: 10vh;
  color: transparent;
}

/* about us */

.about-container {
  background-color: rgb(255, 192, 203, 0.5);
  height: 100vh;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 5vh;
  margin: 0 22vh;
}

.about-img-wrap {
  display: grid;
  gap: 2vh;
}

.about-img {
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 12px;
}

.about-img.top {
  width: 40vw;
  height: 40vh;
}

.goFlex {
  display: flex;
  gap: 2vh;
}

.about-img.bottom {
  width: 20vw;
  height: 25vh;
}

.about-text {
  place-self: center;
}

.about-title {
  font-family: "Vollkorn", serif;
  font-weight: 800;
  font-size: 1.3rem;
  margin: 1vh 2vh;
  background-color: rgba(176, 115, 115, 0.4);
  width: fit-content;
  padding: 0.1vh 2vh;
  border-radius: 12px;
}

.about-title.dua {
  margin-top: 5vh;
}

.about-text p {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding: 0 2vh;
  background-color: rgb(255, 255, 255, 0.4);
  width: fit-content;
  padding: 2vh 1vh;
  border-radius: 12px;
}

.about-text p span {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: larger;
}

.mision-text p {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 0vh;
  margin: 0vh 22vh;
}

.marquee-bar-container {
  /* background-image: linear-gradient(
    to bottom,
    rgb(255, 192, 203, 0.5),
    #a18cd1
  ); */
  background-color: white;
  /* border-top: 1px solid; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.456);
  height: 10vh;

  color: transparent;
  color: rgba(0, 0, 0, 0.456);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fad0c4;
}

.marquee-text {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.3rem;
  align-content: center;
  text-align: center;
  white-space: nowrap;
}

.marquee-text img {
  width: 5vh;
  text-align: center;
  margin: 0 3vw;
  vertical-align: middle;
}

/* CONTACTT */

.our {
  /* background-color: rgb(214, 161, 161); */
  /* background-color: rgb(164, 103, 115); */
  background-image: linear-gradient(90deg, #ff9a9e, #fad0c4);
  /* background-image: linear-gradient(90deg, #a18cd1, #fbc2eb); */
  color: black;
  object-fit: fill;
  height: 85vh;
  margin-top: 0;
  padding: 0 22vh;
  font-family: "Poppins", sans-serif;
}

.our-container {
  padding-top: 3rem;
  position: relative;
}

.our-container h1 {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* text-decoration: underline; */

  /* border-bottom: 3px solid rgba(0, 0, 0, 0.289); */
  /* text-underline-offset: 1vh; */
  margin-bottom: 3vh;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.our-btn-wrapper {
  margin-bottom: 2vh;
}

.our-map-wrapper {
  display: flex;
}

.iframe-wrapper {
  position: relative;
  width: 58vw;
  height: 54vh;
}

iframe {
  border-radius: 25px;
  width: 39vw;
  height: 55vh;
  position: absolute;
  transition: 0.1s;
}

iframe:hover {
  transform: scale(1.01);
}

.iframe1 {
  z-index: 10;
}

.iframe1.active {
  z-index: 100;
}

.iframe2.active {
  z-index: 100;
}

.iframe3.active {
  z-index: 100;
}

.alamat-wrapper {
  margin-left: 5vh;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.9rem;
}

.alamat-wrapper h3 {
  margin-bottom: 1vh;
  margin-top: 2vh;
}

.alamat-wrapper p {
  margin-bottom: 2vh;
}

.alamat-wrapper .logo {
  width: 20vh;
  transform: scale(1.5);
  /* margin-top: 4vh; */
  /* margin-bottom: 2vh; */
}

.our-button {
  position: relative;
  background-color: rgb(251, 174, 238);
  border: none;
  outline: none;
  font-weight: 600;
  font-size: medium;
  width: 12vh;
  height: 5vh;
  border-radius: 10px;
  margin-right: 1vh;
  color: black;
}

.toko {
  font-weight: 600;
  margin: 0 0.1em;
  width: 6vw;
  height: 4.2vh;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  /* color: rgb(94, 94, 94); */
}

.toko:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.2);
}

.our-bg {
  position: absolute;
  right: -10%;
  top: 13%;
  transform: scale(0.7);
  z-index: 1;
  opacity: 0.2;
}

.social img {
  width: 2.4rem;
  margin-right: 1rem;
  transition: 0.2s;
}

.social img:hover {
  transform: scale(1.2);
}

.phone-email-wrap {
  display: flex;
}

.phone-email {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.6vw;
}

/* CAKE COLLECTION PAGES */
/* ================================================================= */

.page2 {
  position: static;
}

.search {
  margin-top: 3vh;
  margin-left: 12vw;
}

.search-wrapper {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
}

.search-wrapper div {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 2vw;
  margin-bottom: 1vh;
  gap: 1vw;
}

.search-wrapper img {
  width: 2.5rem;
  margin-bottom: 1vh;
}

.search-wrapper p {
  margin-bottom: 1vh;
  font-size: 1.5rem;
  margin-left: 2vw;

  font-weight: 400;
}

.input-cake {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 24px;
  background-color: #efefef;
  height: 6vh;
  width: 40vw;
  text-indent: 1vw;
  font-size: 1rem;
}

.bg-1 {
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgb(234, 119, 234),
    rgb(241, 241, 104)
  );
  height: 70vh;
  width: 40vw;
  border-radius: 100%;
  filter: blur(100px);
  bottom: -10%;
  right: 0;
  opacity: 0.7;
  z-index: -10;
}

.bg-2 {
  position: absolute;
  background-image: linear-gradient(to bottom, pink, rgb(80, 214, 235));
  height: 70vh;
  width: 30vw;
  border-radius: 100%;
  filter: blur(90px);
  bottom: -10%;
  left: -20%;
  z-index: -10;
}

.bg-3 {
  position: absolute;
  background-image: linear-gradient(
    50deg,
    rgb(241, 241, 104),
    rgba(186, 247, 143, 0.996)
  );
  height: 70vh;
  width: 65vw;
  border-radius: 100%;
  filter: blur(100px);
  bottom: -110%;
  left: -10%;
  opacity: 0.7;
  z-index: -10;
}

.bg-4 {
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgb(234, 119, 234),
    rgb(241, 241, 104)
  );
  height: 70vh;
  width: 30vw;
  border-radius: 100%;
  filter: blur(90px);
  bottom: -100%;
  right: 0;
  z-index: -10;
}

.card.secondpage {
  width: 14vw;
  height: fit-content;
}

.card.secondpage.off {
  display: none;
}

.image-container.secondpage {
  height: 14vw;
}

.card-image.secondpage {
  width: 14vw;
  height: fit-content;
}

.card-image-hover.secondpage {
  width: 14vw;
  height: fit-content;
}

.card-title.secondpage,
.card-price.secondpage {
  font-size: 0.9rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  margin: 3vh 5vw;
  width: fit-content;
  justify-content: center;
  margin-bottom: 20vh;
}

.nav-icon.second {
  opacity: 0;
}

.clicked {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  html,
  * {
    font-size: 62.5%;
    max-width: 100vw;
  }

  nav {
    position: relative;
    overflow: visible;
    overflow-x: clip;
  }

  /* nav,
  section {
    overflow-: hidden;
  } */

  .our {
    overflow-x: clip;
  }

  .nav-leftside {
    transform: scale(1.3);
  }

  .nav-leftside:hover {
    transform: scale(1.5);
  }

  .nav-wrapper {
    overflow: hidden;
  }

  .nav-icon {
    width: 3vh;
    height: 3vh;
  }

  .nav-hmb {
    display: inline;
  }

  .nav-midside {
    display: grid;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: whitesmoke;
    width: 50vw;
    height: 30vh;
    border-radius: 0px 0px 0px 12px;
    z-index: 100000000000000000000;
    transition: 0.2s;
    opacity: 0.9;
  }

  .nav-midside a {
    color: black;
    font-size: 1.8rem;
    display: flex;
    text-shadow: none;
  }

  .nav-midside.active {
    display: grid;
    right: 0;
  }

  .main-wrapper {
    overflow: hidden;
    height: 95vh;
  }

  .main-background {
    height: 95vh;
    background-position: right;
  }

  .main-moto {
    font-size: 50%;
    text-align: center;
  }

  .main-moto2 {
    margin-top: 3vh;
  }

  .main-button {
    width: 40vw;
    font-size: 3rem;
  }

  .display-title {
    font-size: 3rem;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    gap: 1rem;
  }

  .card {
    width: 40vw;
    height: 27vh;
    margin: 0;
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 2rem;
    padding: 0.6vh;
  }

  .image-container {
    height: 18vh;
  }

  .card-image {
    width: 40vw;
    height: 18vh;
  }

  .card-image-hover {
    width: 40vw;
    height: 18vh;
  }

  .card-title {
    margin-left: 1.2vh;
    margin-bottom: 1vh;
    font-weight: 600;
  }

  .card-liner {
    margin-bottom: 0.5vh;
  }

  .display-wrapper {
    position: static;
  }

  .display-bg {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
    height: 100vh;
    width: 100vw;
    z-index: -1000000000;
    margin-top: 12vh;
  }

  .display-bg div {
    height: 90vh;
    transform: scaleY(1.5);
  }

  .mid-bg2,
  .left-bg2,
  .scnd {
    transform: scaleY(0.25);
  }

  .seemore-button {
    font-size: 3rem;
  }

  .about-container {
    align-items: first baseline;
    height: 130vh;
    width: 100vw;
  }

  .about-wrapper {
    display: grid;
    margin: 0 10vw;
    height: 100%;

    gap: 0;
  }

  .about-text {
    font-size: 3.2rem;
    height: 100%;
  }

  .about-title {
    width: 50vw;
    height: 5vh;
    font-size: 3rem;
    background-color: transparent;
    color: rgb(94, 94, 94);
  }

  .about-title.dua {
    margin-top: 3vh;
  }

  .about-img-wrap {
    height: 100%;
    gap: 0;
  }

  .about-img.top {
    width: 80vw;
    height: 20vh;
    height: fit-content;
  }

  .goFlex {
    height: fit-content;
  }

  .about-img.bottom {
    width: 40vw;
    height: 15vh;
  }

  .our {
    width: 100vw;
    /* overflow-x: hidden; */
    padding: 0;
    height: fit-content;
    padding-bottom: 10vh;
  }

  .our-container {
    display: grid;
  }

  .our-container h1 {
    font-size: 3rem;
    color: black;
    font-weight: 600;
    margin-top: 4vh;
  }

  .our-map-wrapper {
    display: grid;
  }

  .our-btn-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .toko {
    width: 25vw;
    font-size: 2rem;
  }

  .iframe-wrapper {
    width: 100vw;
    height: 30vh;
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  iframe {
    width: 80vw;
    height: 30vh;
  }

  .alamat-wrapper {
    font-size: 2.2rem;
    margin: 0 10vw;
    font-weight: 500;
    /* margin-top: 3vh; */
  }

  .alamat-wrapper .logo {
    position: absolute;
    bottom: -7%;
    width: 34vw;
  }

  .our-btn-wrapper {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .our-bg {
    top: 50%;
    left: 30%;
    opacity: 0.1;
  }

  .social a img {
    width: 9vw;
  }

  .search {
    margin: 3vh 12vw;
  }

  .search-wrapper p {
    font-size: 2rem;
    margin: 0;
  }

  .search-wrapper {
    gap: 2rem;
  }

  .search-wrapper img {
    width: 7vw;
    margin-bottom: 1vh;
  }

  .input-cake {
    height: vh;
    width: 100%;
    text-indent: 4vw;
    font-size: 1.3rem;
  }

  .card-list {
    margin: 0;
  }

  .card.secondpage {
    width: 25vw;
    height: 40vw;
    transition: 0.2s;
  }

  .card.secondpage img {
    width: 25vw;
  }

  .image-container.secondpage {
    height: 25vw;
  }
}
